<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/gif" sizes="16x16" href="{$BASEURL}resource/doc/images/icon/favicon.gif">
    <title>{$page_title|default:'e-commerce - UD Istiqomah Furniture'} | {$site.site_title|default:''}</title>
    <!-- themes style -->
    <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
    {$LOAD_STYLE}
    <!-- other style -->
    <!-- load javascript -->
    {$LOAD_JAVASCRIPT}
    <!-- end of javascript	-->
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box login-sidebar">
            <div class="white-box">
                {include file="$template_content"}
            </div>
        </div>
    </section>
</body>
</html>