<div class="page-heading page-heading-public">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2 text-center">
          <a href="{$config->site_url()}">
            <img class="img-logo vcenter" src="{$BASEURL}resource/doc/images/icon/logo-kemenhub.png" alt="" width="80" height="80"/>
          </a>
        </div>
        <div class="col-md-10">
          <div class="public-dashboard-title">
            <h2>E-Performance</h2>
            <h4>Sistem Informasi Pengukuran Kinerja</h4>
            <h5>Kementerian Perhubungan Republik Indonesia</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">

    </div>
  </div>
</div>
