<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title hidden-xs">{$page_title}</h4>
        <h4 class="page-title text-center visible-xs">{$page_title}</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 hidden-xs">
        <ol class="breadcrumb">
            <li class="active">Tentang Perusahaan</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Data Profil Perusahaan
            </div>
            <div class="panel-body">
                <!-- notification template -->
                {include file="base/templates/notification.html"}
                <!-- end of notification template-->
                <form action="{$config->site_url('profil/tentang_perusahaan/edit_process')}" class="form-horizontal" method="post">
                    <input type="hidden" name="data_id" value="{$result.data_id|default:''}" />
                    <div class="form-group">
                        <label for="isi" class="col-md-2 col-form-label">
                            Isi Profil Perusahaan <small class="form-text text-danger">Wajib diisi.</small>
                        </label>
                        <div class="col-md-10">
                            <textarea name="isi" id="data" class="form-control input-sm" rows="10" placeholder="Isi Profil Perusahaan">{$result.isi|default:''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isi" class="col-md-2 col-form-label">
                            Content Inggris Profil Perusahaan <small class="form-text text-danger">Wajib diisi.</small>
                        </label>
                        <div class="col-md-10">
                            <textarea name="content" id="content" class="form-control input-sm" rows="10" placeholder="Content Inggris Profil Perusahaan">{$result.content|default:''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-md-2 col-form-label">
                            Status <small class="form-text text-danger">Wajib diisi.</small>
                        </label>
                        <div class="col-md-5">
                            <select name="status" class="form-control input-sm select-2" data-placeholder="Status">
                                <option value=""></option>
                                <option value="1" {if $result.status|default:'' eq "1"}selected="selected"{/if}>Published</option>
                                <option value="0" {if $result.status|default:'' eq "0"}selected="selected"{/if}>Hide</option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-form-label">
                            Tanggal Update <small class="form-text text-danger">Wajib diisi.</small>
                        </label>
                        <div class="col-md-8">
                            <label class="form-control-static">
                                <u><i>{$dtm->get_full_date($result.tanggal|default:'')}</i></u><br><b>{$result.oleh|default:''}</b>
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="text-right col-md-12">
                            <button type="submit" name="save[insert]" value="Simpan" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
                            <button type="reset" name="save[reset]" value="Reset" class="btn btn-warning"><i class="fa fa-refresh"></i> Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".select-2").select2({
            dropdownAutoWidth : true,
            width: '100%'
        });
        // wysiwyg 
        $('#data').summernote({
            height:300,
            minHeight: null,
            maxHeight: null,
            onpaste: function(content) {
                setTimeout(function () {
                    $('#data').code(content.target.textContent);
                }, 10);
            },
            cleaner:{
                    notTime: 2400, // Time to display Notifications.
                    action: 'both', // both|button|paste 'button' only cleans via toolbar button, 'paste' only clean when pasting content, both does both options.
                    newline: '<br>', // Summernote's default is to use '<p><br></p>'
                    notStyle: 'position:absolute;top:0;left:0;right:0', // Position of Notification
                    icon: '<i class="note-icon">[Your Button]</i>',
                    keepHtml: false, // Remove all Html formats
                    keepOnlyTags: ['<p>', '<br>', '<ul>', '<li>', '<b>', '<strong>','<i>', '<a>'], // If keepHtml is true, remove all tags except these
                    keepClasses: false, // Remove Classes
                    badTags: ['style', 'script', 'applet', 'embed', 'noframes', 'noscript', 'html'], // Remove full tags with contents
                    badAttributes: ['style', 'start'] // Remove attributes from remaining tags
            }
        });
        // wysiwyg 
        $('#content').summernote({
            height:300,
            minHeight: null,
            maxHeight: null,
            onpaste: function(content) {
                setTimeout(function () {
                    $('#content').code(content.target.textContent);
                }, 10);
            },
            cleaner:{
                    notTime: 2400, // Time to display Notifications.
                    action: 'both', // both|button|paste 'button' only cleans via toolbar button, 'paste' only clean when pasting content, both does both options.
                    newline: '<br>', // Summernote's default is to use '<p><br></p>'
                    notStyle: 'position:absolute;top:0;left:0;right:0', // Position of Notification
                    icon: '<i class="note-icon">[Your Button]</i>',
                    keepHtml: false, // Remove all Html formats
                    keepOnlyTags: ['<p>', '<br>', '<ul>', '<li>', '<b>', '<strong>','<i>', '<a>'], // If keepHtml is true, remove all tags except these
                    keepClasses: false, // Remove Classes
                    badTags: ['style', 'script', 'applet', 'embed', 'noframes', 'noscript', 'html'], // Remove full tags with contents
                    badAttributes: ['style', 'start'] // Remove attributes from remaining tags
            }
        });
    });
</script>